@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
body {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background: #E3F2FD;
}
.wrapper {
    width: 65vmin;
    height: 70vmin;
    border-radius: 5px;
    background: #293447;
}
.game-details {
    color: #B8C6DC;
    font-size: 1.2rem;
    font-weight: 500;
    padding: 20px 27px;
    display: flex;
    justify-content: space-between;
}
.play-board{
    width: 100%;
    height: 100%;
    display: grid;
    grid-template: repeat(30, 1fr) / repeat(30, 1fr);
    background: #212837;
}
.play-board .food {
    background: red;
}
.play-board .head{
    background: blue;
}
.controls{
    background: #293447;
    padding: 20px 0px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 2px;
}
.controls i {
    padding: 25 px 0;
    color: #B8C6DC;
    width: calsc(100% / 4);
    text-align: center;
    cursor: pointer;
    font-size: 1.3rem;
}